<!--Script para redirigir el sitio web. Experimental.
Fuente: https://www.jpap.org/blog/2017/04/canonical-url-redirects-for-static-sites/-->
<?php
		function saca_dominio($url){
		    $protocolos = array('http://', 'https://', 'ftp://', 'www.');
  		$url = explode('/', str_replace($protocolos, '', $url));
  		return $url[0];
		}
		$host= $_SERVER["HTTP_HOST"];
		if (saca_dominio($host) == 'phptester.net') {
			echo ('Redireccionando');
	  	header( 'Location: http://deepin.ovh' ) ;
			die();
		}
?>
<script async="" src="/js/redirector.js"></script>
